/OnlineShopping/Hosts/API/OnlineShopping.API/bin
/OnlineShopping/Core/OnlineShopping.Testing/bin
/OnlineShopping/Core/OnlineShopping.Testing/obj
/OnlineShopping/Core/OnlineShopping.Models/bin
/OnlineShopping/Core/OnlineShopping.Models/obj
/OnlineShopping/.vs/OnlineShopping
/.vs
/OnlineShopping/Core/OnlineShopping.DAL/obj/Debug/net5.0
/OnlineShopping/Core/OnlineShopping.Interfaces/obj/Debug/net5.0
/OnlineShopping/Core/Tests/OnlineShopping.Core.Tests.Functional/obj/Debug/net5.0
/OnlineShopping/Core/OnlineShopping.Core/bin/Debug/net5.0
/OnlineShopping/Core/OnlineShopping.Core/obj
/OnlineShopping/Core/OnlineShopping.DAL/bin/Debug/net5.0
/OnlineShopping/Core/OnlineShopping.DAL/obj
/OnlineShopping/Core/OnlineShopping.Interfaces/bin/Debug/net5.0
/OnlineShopping/Core/OnlineShopping.Interfaces/obj
/OnlineShopping/Core/Tests/OnlineShopping.Core.Tests.Functional/bin/Debug/net5.0
/OnlineShopping/Hosts/API/OnlineShopping.API/obj
/OnlineShopping/Core/Tests/OnlineShopping.Core.Tests.Functional/obj
/OnlineShopping/Hosts/UI/OnlineShopping.rar
/OnlineShopping/Hosts/UI/OnlineShopping/.vs
/OnlineShopping/Hosts/UI/OnlineShopping/.vscode
/OnlineShopping/Core/OnlineShopping.Models/validation/RuleValidator.cs
/OnlineShopping/Core/OnlineShopping.Models/validation/ValidationAttribute.cs
/OnlineShopping/Core/OnlineShopping.Models/validation/ValidationResult.cs
/OnlineShopping/Hosts/UI/OnlineShopping/.angular/cache
