<header>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav" *ngIf="user">

      <a class="nav-item nav-link">{{user.emailaddress}}</a>

      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/login">login</a>
    </div>
    <a *ngIf="cartService.getOrderItemsCount() > 0" class="nav-item nav-link" routerLink="/viewordercart"> order Items:
      ({{cartService.getOrderItemsCount()}})</a>
  </nav>
</header>

<div class="row ">
  <div class="col-md-8 mx-md-auto marginTop70">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer small text-center">
  <p class="pt-2">Copyright &copy; {{year}} </p>
</footer>
