<div class="layout-wrapper" [ngClass]="{'p-input-filled': app.inputStyle === 'filled'}">
  <div class="pages-body login-page p-d-flex p-flex-column">
    <div class="p-as-center p-mt-auto p-mb-auto">
      <form (keyup.enter)="login()" #loginForm="ngForm">
        <div class="pages-panel card p-d-flex p-flex-column">
          <div class="pages-header p-px-3 p-py-1">
            <h2>LOGIN</h2>
          </div>
          <div class="pages-detail p-mt-4 p-mb-4 p-px-6">Hello. Welcome to <strong>Digital Health Information Systems</strong>.</div>
          <app-progress-spinner [isLoading]="isLoading"></app-progress-spinner>
          <div class="p-fluid">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="username" name="username" required="true" />
                <label>Username</label>
              </span>
<!--             <div class="p-inputgroup p-mt-3 p-mb-2">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-lock"></i>
                <input type="password" pPassword  [(ngModel)]="password" name="password" required="true">
                <label>Password</label>
              </span>
            </div> -->
            <div class="p-mt-3 p-mb-2">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-lock"></i>
                <p-password [(ngModel)]="password" name="password" required="true" [toggleMask]="true" [feedback]="false">
                </p-password>
                <label>Password</label>
              </span>
            </div>
          </div>
          <div class="p-mt-3 p-mb-2 p-px-3 login-button" >
            <button pButton class="p-mb-2 p-px-3" type="submit" label="LOGIN" (click)="login()"
              [disabled]="loginForm.invalid"></button>
          </div>
          <div class="p-mb-6 p-px-3">
            <button pbutton="" pripple="" (click)="forgotPasswordNav()" type="button" label="Forgot Password?" class="p-button-text p-ripple p-button p-component" tabindex="0">
              <span class="p-button-label">Forgot Password?</span>
              <span class="p-ink"></span>
            </button>
            <!-- <li class="">
              <a class="p-d-flex p-dir-row p-jc-center p-ai-center p-px-2 rounded-circle"
                (click)="forgotPasswordNav()" pRipple>
                Forgot Password
                <i class="pi pi-user pi-fw"></i>
              </a>
            </li> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
