<div class="layout-wrapper" [ngClass]="{'p-input-filled': app.inputStyle === 'filled'}">
  <div class="pages-body login-page p-d-flex p-flex-column">
    <div class="p-as-center p-mt-auto p-mb-auto">
      <form #inputForm="ngForm" [mustMatch]="['password', 'confirmPassword']">
        <div class="pages-panel card p-d-flex p-flex-column">
          <div class="pages-header p-px-3 p-py-1 p-mb-2">
            <h3 class="p-mb-1">Reset Password</h3>
          </div>
          <div class="p-mb-2 info-message">
            <p-message severity="info" text="Enter your username and confirm your new password to reset your password">
            </p-message>
          </div>
          <app-progress-spinner [isLoading]="isLoading"></app-progress-spinner>
          <div class="p-field p-col">
            <div class="p-inputgroup">
              <span class="p-input-icon-left p-float-label">
                <i class="pi pi-user"></i>
                <input type="text" pInputText [(ngModel)]="username" name="username" required="true"
                  autocomplete="username" />
                <label>Username</label>
              </span>
            </div>
          </div>
          <div class="p-field p-mb-0">
            <div class="p-field p-col">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input type="password" pInputText #password="ngModel" name="password" [(ngModel)]="newPassword"
                    autocomplete="new-password" required minlength="6" [ngClass]="{ 'is-invalid': password.invalid }">
                  <label>New Password</label>
                </span>
              </div>

            </div>
            <div *ngIf="password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.minlength">
                <p-message severity="error" text="New Password must be at least 6 characters"></p-message>
              </div>
            </div>
          </div>
          <div class="p-field p-mb-2">
            <div class="p-field p-col">
              <div class="p-inputgroup">
                <span class="p-float-label">
                  <input type="password" pInputText #confirmPassword="ngModel" name="confirmPassword"
                    autocomplete="confirm-password" [(ngModel)]="confirmNewPassword" autocomplete="off" required
                    minlength="6" [ngClass]="{ 'is-invalid': confirmPassword.invalid }">
                  <label>Confirm New Password</label>
                </span>
              </div>
            </div>
            <div *ngIf="confirmPassword.invalid" class="invalid-feedback">
              <div *ngIf="confirmPassword.errors.mustMatch">
                <p-message severity="error" text="New Password and Confirm New Password must match"></p-message>
              </div>
              <div *ngIf="confirmPassword.errors.minlength">
                <p-message severity="error" text="Confirm New Password must be at least 6 characters"></p-message>
              </div>
            </div>
          </div>
          <div class="pl-10 p-mt-3" style="text-align: left;">
            <button pButton class="p-mb-3 p-mr-3 p-px-3" type="submit" label="Reset Password" (click)="resetPassword()"
              [disabled]="inputForm.invalid"></button>
            <button pButton class="p-mb-3 p-mr-3 p-px-3" label="Back to Login" (click)="cancel()"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
